<div class="container">
  <div class="row">
    <div
      class="col-9"
      [ngClass]="seriesEntry?.selected? 'bg-secondary' : ''"
      (click)="expanded = !expanded"
    >
      <h4>{{ seriesEntry?.series?.title }}</h4>
    </div>
    <div class="col-3">
      <button class="btn" (click)="onAddSeries()">Agregar</button>
    </div>
  </div>
  <div class="row" *ngIf="expanded">
    <div class="container text-bg-secondary">
      <p class="row">{{ seriesEntry?.series?.description }}</p>

      <h6 class="row">Creadores:</h6>
      <div *ngFor="let c of seriesEntry?.series?.creators">
        <p>{{ c.firstName }} {{ c.lastName }} <span *ngIf="c.secondLastName">{{c.secondLastName}}</span></p>
      </div>

      <h6 class="row">Actores:</h6>
      <div *ngFor="let a of seriesEntry?.series?.actors">
        <p>{{ a.firstName }} {{ a.lastName }} <span *ngIf="a.secondLastName">{{a.secondLastName}}</span></p>
      </div>

    </div>
  </div>
</div>
